.timerBall {
    color: red
}

.disable-icon-bg {
    color: white;
    background-color: red;
}

.vdo-style {
    border-radius: 10px;
    /* style={{width:"320", height:"240", borderRadius:"10px"}} */
}

